<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.piter.piterdiplomna">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- Contacts permissions are needed for providing email completions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For Google Cloud Messaging -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission
        android:name="com.piter.piterdiplomna.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.piter.piterdiplomna3.permission.C2D_MESSAGE" />

    <!-- <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/><uses-permission android:name=".permission.C2D_MESSAGE" /> -->
    <!-- <uses-permission android:name="com.google.android.c2dm.permission.SEND" /> -->
    <application
        android:name="com.piter.piterdiplomna.helper.SharedPreferencesManage"

        tools:replace="android:icon,android:theme,android:label"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.piter.piterdiplomna.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.piter.piterdiplomna.activities.LoginActivity" />
        <activity android:name="com.piter.piterdiplomna.activities.ChatActivity" />
        <activity android:name="com.piter.piterdiplomna.MyPreferencesActivity" />

        <!-- for alarms -->
        <receiver
            android:name="com.piter.piterdiplomna.helper.MyAlarmReceiver"
            android:enabled="true"
            android:exported="false"/>
        <!--for managing notification and openning the corect activity-->
        <service
            android:name="com.piter.piterdiplomna.helper.MyNewIntentService"
            android:exported="false"/>

        <!-- GCM from here on -->
        <!-- GCM Receiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.piter.piterdiplomna" />
            </intent-filter>
        </receiver>

        <!-- GCM Receiver Service -->
        <service
            android:name="com.piter.piterdiplomna.gcm.GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- GCM Registration Intent Service -->
        <service
            android:name="com.piter.piterdiplomna.gcm.GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter android:priority="10000">
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name="com.piter.piterdiplomna.activities.SettingsActivity"
            android:label="@string/title_activity_settings"/>
        <!--for the ExtendedCalendarView and -->
        <provider
            android:name="com.tyczj.extendedcalendarview.CalendarProvider"
            android:authorities="com.tyczj.extendedcalendarview.calendarprovider" />
    </application>

</manifest>